### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
target/
client/target/
server/target/
server/src/main/resources/db.cfg
*.iws
*.iml
*.ipr
*.class
*.jar
*.war
*.ear
*.logs
.idea/

### Mac OS ###
.DS_Store